
.icon-language:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e804'; } /* '' */
.icon-cogs:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */